/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
    font-family: 'Noto Serif Display', serif;
}

body {
    margin: 0;
}

/* Header & Nav Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9d9886;
    width: 100%;
}

.logo {
    background-image: url(../images/Logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 75px;
    cursor: pointer;
    margin-left: 1em;
    padding: 0 25px;
}

nav {
    margin-right: 1em;
}

.nav_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav_links li {
    /* display: inline; */
    position: relative;
}

.nav_links li a {
    display: block;
    padding: 1.8em 25px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.nav_links li a:hover {
    color: #9d9886;
    background-color: #f8f7f1;
}

/* Drop-down Menu */
.nav_dropdown {
    display: none;
    position: absolute;
    background-color: #9d9886;
    list-style: none;
    padding: 0;
    align-items: center;
    grid-template-columns: 1fr;
}

.nav_links li:hover .nav_dropdown {
    display: block;
}

.nav_dropdown li a {
    display: block;
    padding: 1em 5px;
}

/* Banner */
main {
    /* background-color: yellow; */
}

/* Index Banner */
.Banner {
    background-image: url(../images/Banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

/* Drinks Banner */
.Banner2 {
    background-image: url(../images/Banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

/* Pastries Banner */
.Banner3 {
    background-image: url(../images/Banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

/* About Banner */
.Banner4 {
    background-image: url(../images/Banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 70vh;
}

.Banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.Banner-content h1 {
    font-size: 60px;
    margin-bottom: 0.5em;
}

/* Content */

.Content-section1 {
    width: 90%;
    margin: 60px auto;
}

.Content-section2 {
    margin: 60px auto;
}

.section-wrapper1 {
    background-color: #b9b6aa;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.section-wrapper2 {
    background-color: #b9b6aa;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.text-left,
.text-right {
    padding-left: 2em;
    padding-bottom: 150px;
    text-align: center;
}

.text-left h2,
.text-right h2 {
    font-size: 2em;
}

.text-left p,
.text-right p {
    font-size: 1.2em;
}

.Content-image {
    width: 100%;
}


.Content-image img {
    width: 100%;
    height: auto;
    object-fit: cover
}

.item-btn {
    background-color: #8e8977;
    color: #f3f2eb;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    border-radius: 2em;
    font-weight: 500;
    text-decoration: none;
}

.item-btn:hover {
    background-color: #c5c1b5;
    color: #000000;
}

/* Footer */
.Footer {
    background: #9d9886;
    padding: 20px 0;
    text-align: center;
}

.Footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Footer-section img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.Footer-section img:hover {
    transform: scale(1.1);
}


/* Drinks Content */
.Drink-section {
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.Drink-section h2 {
    font-size: 35px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-left: 1.25em;
}

.Drink-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2em;
}

.Drink-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;

}

/* Pastries Section */
.Pastries-section {
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.Pastries-section h2 {
    font-size: 35px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-left: 1.25em;
}

.Pastries-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;

}

.Pastries-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2em;
}

.Pastries-image img {
    width: 55%;
    height: auto;
    border-radius: 10px;

}

/* Add button styles */
.add-btn {
    background-color: #8e8977;
    color: #f3f2eb;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    border-radius: 2em;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #c5c1b5;
    color: #000000;
}

/* About Us Section */
.About {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About h2 {
    font-size: 40px;
}

/* Cart Items */
.Cart-Content {
    padding-left: 100px;
    margin: 80px auto;
}

table {
    width: 90%;
    border-collapse: collapse;
}

.Cart-info {
    display: flex;
    flex-wrap: wrap;
}

.Cart-info img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

th {
    text-align: left;
    padding: 5px;
    background: #9d9886;
    color: #f3f2eb;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: red;
    font-size: 14px;
    text-decoration: none;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.subtotal-row {
    border-top: 2px solid #000;
}

.total-row td:nth-child(2),
.total-row td:nth-child(3) {
    border-top: 2px solid #000;
    font-weight: bold;

}

/* Button Styles */
.button-row {
    text-align: right;
    padding-top: 20px;
}

.checkout-btn {
    padding: 12px 25px;
    background-color: #8e8977;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: #f3f2eb;
}

.checkout-btn:hover {
    background-color: #c5c1b5;
    color: #000000;
}


/* Payment form styles */
form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial;
}

form input[type="text"],
form input[type="month"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 20px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pay-btn {
    margin-top: 15px;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.pay-btn:hover {
    background-color: #45a049;
}

.checkout-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20vh;
}

.checkout-form form {
    background-color: #9d9886;
    padding: 20px;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {

    /* Header */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .logo {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 150px;
        height: 150px;
    }

    nav {
        margin-right: 0;
        width: 100%;
    }

    .nav_links {
        grid-template-columns: 1fr;
    }

    .nav_links li a {
        padding: 1em;
    }

    .nav_dropdown {
        position: static;
        width: 100%;
    }

    /* Banners */
    .Banner,
    .Banner2,
    .Banner3,
    .Banner4 {
        height: 40vh;
        background-position: center;
    }

    .Banner-content h1 {
        font-size: 30px;
    }

    .section-wrapper1,
    .section-wrapper2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text-left,
    .text-right {
        padding: 20px;
        padding-left: 20px;
    }

    .text-left p,
    .text-right p {
        font-size: 1em;
    }

    .item-btn {
        width: fit-content;
        margin: 0 auto;
    }

    /* Images */
    .Content-image {
        width: 60vh;
    }

    .Content-image img {
        width: 60vh;
        height: auto;
    }

    /* Footer */
    .Footer-section {
        gap: 5px;
    }

    /* Drinks & Pastries Section */
    .Drink-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0.2em
    }

    .info {
        padding: 1em;
        max-width: 100%;
    }

    .Drink-image img {
        width: 200px;
        max-width: 480px;
        height: auto;
        object-fit: cover;
        margin: 0.5em auto 0;
    }

    .add-btn {
        max-width: 300px;
        margin: 14px auto 0;
        display: block;
        font-size: 1rem;
    }

    .Drink-section {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .Pastries-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0.2em;
    }

    .Pastries-info {
        padding: 1em;
        max-width: 100%;
    }


    .Pastries-image img {
        width: 200px;
        max-width: 480px;
        height: auto;
        object-fit: cover;
        margin: 0.5em auto 0;
    }

    /* About */
    .About {
        width: 80%;
        margin: 1.5em auto;
        display: flex;
        padding: 0 1em;
    }

    .About h2 {
        font-size: 15px;
        line-height: 50px;
    }

    /* Cart */
    .Cart-Content {
        padding-left: 0;
        padding-right: 0;
    }

    .Cart-Content table {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
    }

    .Cart-info {
        flex-direction: row;
        align-items: center;
        margin-right: 12px;
    }

    td {
        padding: 8px 5px;
        font-size: 14px;
    }

    th {
        font-size: 15px;
    }

    td input {
        width: 35px;
        height: 28px;
    }

    .checkout-btn {
        width: 100%;
        font-size: 16px;
        padding: 14px;
    }

    .checkout-form {
        justify-content: center;
        padding-right: 0;
        margin-top: 40px;
    }

    .checkout-form form {
        width: 100%;
        max-width: 350px;
        padding: 20px;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

}

header input{
    display: none;
}

header label {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 480px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 ;
    }

    header label {
        display: block;
    }

    .logo{
        width: 200px;
        height: 200px;
    }

    .nav_links {
        display: none;
        position: absolute;
        top: 120px;
        right: 0;
        width: 100%;
        background-color: #9d9886;
        flex-direction: column;
        text-align: center;
        z-index: 10;
        padding: 0;
        margin: 0;
    }

    .nav_links li {
        width: 100%;
    }

    #hamburger:checked ~ nav .nav_links {
        display: flex;
    }
    .nav_links li a {
        display: block;
        padding: 1em 0;
        border-top: 1px solid #f3f2eb;
    }
    .Banner, .Banner2, .Banner3, .Banner4 {
        height: 40vh;
        background-position: center;
    }

    .section-wrapper1,  .section-wrapper2 {
        grid-template-columns: 1fr;
        text-align: center;
        padding-bottom: 30px;
    }

    .text-left, .text-right {
        padding: 1em;
        padding-bottom: 40px;
    }

    .text-left h2, .text-right h2 {
        font-size: 1.5em;
    }

    .text-left p, .text-right p {
        font-size: 1em;
    }

    .Content-section1 {
        width: 55vh;
        margin: 40px auto;
    }

    .Content-section2 {
        width: 55vh;
        margin: 40px auto;
    }

    .Content-image {
        width: 100%;
    }

    .Content-image img {
        width: 55vh;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
    }

    .item-btn {
        width: inline-block;
        margin-top: 10px;
    }

    /* Drinks + Pastries */
    .Banner2, .Banner3{
        height: 40vh;
        background-position: center;
    }

    .Drink-wrapper{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 10px;
    }

    .info{
        flex-direction: column;
        padding: 1em;
    }

    .Drink-image img{
        width: 50%;
        max-width: 300px;
        margin: 0 auto 10px;
    }

    .text p{
        font-size: 14px;
    }

    .add-btn{
        width: 50%;
    }

    .Pastries-wrapper{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 10px;
    }

    .Pastries-info{
        flex-direction: column;
        padding: 1em;
    }

    .Pastries-image img{
        width: 50%;
        max-width: 300px;
    }

    /* About Us */
    .Banner4{
        height: 40vh;
        background-position: center;
    }

    .About h2{
        font-size: 10px;
    }
}